.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 41.4px;
}

.title_big {
  font-size: 44px;
  font-weight: 700;
  line-height: 50.6px;
}

.title_small {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.2px;
}
